body {
    background-color: #fff0f5;
    color: black;
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-size: 40px;
}

a {
    display: inline-block;
    background-color: black;
    color: #fff0f5;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
}
